@import url("https://uilight.netlify.app/main.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

* {
   font-family: "Comfortaa", sans-serif; 
   font-weight: bolder;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 20px;
    margin-top: 1rem;
    width: 1000px;
    height: 550px;
    border-radius: 30px;
}

.container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
    border-radius: 0 20% 20% 0;
    background: url("https://media.istockphoto.com/id/682374404/photo/fern-background.jpg?s=2048x2048&w=is&k=20&c=DDJXzZm2aTgTz_wbeiFcXwV2a1VW5jIFbHjTWRjevzs=");
    
}

.container-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45%;
    padding: 20px;
}
h2 {
    padding-bottom: 1rem;
}

h3, p {
    text-align: center;
    color: white;
    width: 350px;
}

h3 {
    padding: 80px 0 15px 0;
    border-bottom: 0.5px solid white;
}

p {
    padding: 50px 0 0 0;
}

form {
    gap: 1rem;
    padding: 2rem 2rem;
    width: 45rem;
} 

input {
    width: 100%;
    margin: 8px;
    padding: 10px 4px;
    background-color: #cbd5e1;
    border-radius: 5px;
}

input:hover {
    border: 0.5px solid black;
}

.submit-btn {
    width: 100%;
    background-color: rgb(0, 109, 82);
    color: white;
    margin: 8px;
    padding: 10px 4px;
    border-radius: 5px;
    cursor: pointer;
}
