@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Playwrite+CU:wght@100..400&display=swap');
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

/*------ NavBar----- */

.NavBar{
  height: 70px;
  background-color: rgb(0, 109, 82);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBar {
  font-family: "Comfortaa", sans-serif;
  font-weight: 200;
  color: aquamarine;
  padding: 20px;
}