*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

/*------ NavBar----- */

.NavBar{
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}